
<div class="section">
    <div class="title">
        <div class="vertical_line"></div>
        <h2>Blog</h2>
        <div class="vertical_line"></div>
    </div>
    <div class="blogs">
       {% for blog in blogs %}
        <div class="blog">
            <img src="{{ blog.img.url }}" alt="{{ blog.img_alt }}">
            <div class="info">{{ blog.tag }} | {{ blog.date | date:"d.m.Y" }}</div>
            <h4>{{ blog.title }}</h4>
            <div class="text">{{ blog.text }}</div>
            <a href="{% url 'blog_detail' blog.id %}">mehr..</a>
        </div>
        {% endfor %}
    </div>
    <div class="all-btn">
        <a class="section-btn" href="{% url 'blog' %}">Alle Beiträge</a>
    </div>
    
</div>