<div class="section">
 
    <div class="title">
        <div class="vertical_line"></div>
        <h2>Gallerie</h2>
        <div class="vertical_line"></div>
    </div>
    <div class="gallery-images">
        <div><img src="../../../media/public/project1.png" alt=""></div>    
        <div><img src="../../../media/public/project2.JPG" alt=""></div>
        <div><img src="../../../media/public/DSC07207.JPG" alt=""></div>
    </div>
    <div class="all-btn">
        <a class="section-btn" href="{% url 'gallery' %}">Gesamte Gallerie</a>
    </div>
</div>