<div class="section">
    <div class="title">
        <div class="vertical_line"></div>
        <h2>Services</h2>
        <div class="vertical_line"></div>
    </div>
    <div class="offers">
        {% for offer in offers %}
        <div class="offer">
            <div class="offer-top">
                <img src="{{ offer.icon.url }}">
                <h3>{{ offer.title }}</h3>
                <div class="blocksatz">{{ offer.short_text }}</div>
            </div>
            <a class="primary-button" href="{% url 'home' %}#contact">Kontakt</a>
        </div>
        {% endfor %}
    </div>
</div>
