.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.blog{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
}

.blog img{
    width: 100%;
    margin-bottom: 20px;
}

.info{
    color: var(--main-color);
}

.blog h4{
    margin-block-start: 4px;
}

.blog a{
    color: var(--main-color);
    text-decoration: none;
    margin-top: 10px;
    border: solid 1px black;
    padding: 4px 10px;
    max-width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
}

.blog .text{
    color: var(--text-grey);
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    
  
}

/* detail view */

.detail-blog{
    display: flex;
    flex-direction: column;
}


.detail-blog .detail-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-blog .detail-text .info{
    text-align: end;
}

.blog-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 100px 0;
}

.blog-gallery img{
    width: 100%;
}

.all-blogs{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 100px;
}

@media(max-width: 1000px){
    .all-blogs,
    .blogs{
        gap: 20px;
    }

}



@media (max-width: 800px){
    .blog-gallery,
    .all-blogs,
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-gallery{
        gap:20px
    }

    .blogs div:last-child{
        display: none !important;
    }
}

@media (max-width: 650px){
    .blog-gallery{
        gap:10px
    }
}

@media(max-width: 440px){
    .blog-gallery,
    .all-blogs,
    .blogs{
        grid-template-columns: 1fr;
    }
}