.contact-content{
    display: flex;
    gap: 40px;
}

.contact-form{
    background-color: var(--main-color);
    padding: 50px 100px;
    box-sizing: border-box;
    color: white;
    width: 60%;
}

.contact-form label{
    width: 100px;
    display: flex;
}

.contact-form textarea{
    width: 100%;
    border: none;
    padding-block: 0;
    padding-inline: 0;
    padding: 5px;
    box-sizing: border-box;
}

.contact-form input, .contact-form select{
    width: 100%;
    height: 32px;
    border: none;
    padding-block: 0;
    padding-inline: 0;
    padding: 5px;
    box-sizing: border-box;
}

.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus{
    outline: none;
}

.contact-info-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.contact-info{
    display: grid;
    grid-template-columns: 80px auto;
    gap: 10px;
    align-items: center;
}

.contact-info a{
    text-decoration: none;
    color: black;
    transition: all var(--transition-time) ease-in-out;
}

.contact-info a:hover{
    color: var(--main-color);
    cursor: pointer;
    transition: all var(--transition-time) ease-in-out;
}

.contact-info img{
    width: 30px;
    height: 30px;
    padding: 16px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.contact-info h4{
    margin-block-start: 0;
    margin-block-end: 10px;
    color: grey;
}

@media(max-width: 1000px){
    .contact-form{
        padding: 50px 40px;
    }
}

@media(max-width: 800px){
    .contact-info img{
        width: 20px;
        height: 20px;
        padding: 10px;
    }

    .contact-info{
        grid-template-columns: 45px auto;
    }
}

@media(max-width: 650px){
    .contact-content{
        flex-direction: column;
    }

    .contact-form{
        width: 100%;
    }

    .contact-info-container{
        align-items: center;
    }

    .contact-info{
        display: flex;
        flex-direction: column;
    }

    .contact-info div{
        text-align: center;
    }

    .contact-form{
        padding: 60px;
    }
}

@media(max-width: 440px){
    .contact-form{
        padding: 20px;
    }
}