footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #545454;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
    box-sizing: border-box;
    height: 300px;
}

.legal{
    list-style: none;
    font-weight: 400;
    text-align: center;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.legal a{
    text-decoration: none;
    color: white;
    margin-left: 10px;  
    transition: all 225ms ease-in-out; 
}

.madeby a{
    color: #A300E0;
    text-decoration: none;
    transition: all 225ms ease-in-out; 
}

.madeby a:hover,
.legal a:hover{
    color: var(--main-color);
    transition: all 225ms ease-in-out;
}

@media (max-width: 550px){

    .legal{
        display: flex;
        flex-direction: column;
    }

    .legal a{
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .copyright{
        font-size: 12px;
    }
}