.gallery-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.gallery-images{
    height: 100%;
    width: 100%;
}

.gallery-images img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: auto;
}