.offers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.offers img{
    height: 110px;
}

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.offer-top{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.offer a{
    margin-top: 30px;
}


@media(max-width: 800px){
    .offers{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .offers{
        column-gap: 20px;
    }
}

@media(max-width: 440px){
    .offers{
        grid-template-columns: 1fr;
    }
}

