.offers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.offers img{
    width: 60px;
}

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1050px){
    .offers{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .offers{
        column-gap: 20px;
    }
}

@media(max-width: 440px){
    .offers{
        grid-template-columns: 1fr;
    }
}

