{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../static/style/contact.css">
{% endblock %}

{% block content %}
<div class="section">
    <div class="title">
        <div class="vertical_line"></div>
        <h2>Blog</h2>
        <div class="vertical_line"></div>
    </div>
    <div class="blogs">
        {% for blog in blogs %}
        <div class="blog">
            <img src="../../../media/public/DSC07193.JPG" alt="">
            <div class="info">News | 22. September 2023</div>
            <h4>How to Tell You need Engine Repair</h4>
            <div class="text">The car engine is the heart of any car, so to keep your car running you should order a quick repair. At first, you have to choose a</div>
            <a href="{% url 'blog_detail' blog.id }">mehr..</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}