{% extends 'base.html' %}

{% block page %}'blog'{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/style/blog.css">
{% endblock %}

{% block content %}
<div class="wrapper">
    <img class="header-img" src="{{ blog.img.url }}" alt="{{ blog.img_alt }}">
    <div class="title page-title">
        <div class="vertical_line"></div>
        <h2>{{ blog.title }}</h2>
        <div class="vertical_line"></div>
    </div>
    <div class="page">
        <div class="section detail-blog">
            <div class="detail-text">
                <div class="info">{{ blog.tag }} | {{ blog.date | date:"d.m.Y" }}</div>
                <div class="detail-text blocksatz">
                    {{ blog.text }}
                </div>
            </div>
            <div class="blog-gallery">
                {% for img in images %}
                <img src="{{ img.img.url }}" alt="{{ img.img_alt }}" onclick="openImg('{{ img.img.url }}')">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="image-container" class="image-container d-none">
    <div onclick="closeImg()" class="outer">
        <div class="inner">
        </div>
      </div>
    <img id="detail-image" class="img-detail-view" src = "">
</div>
{% endblock %}