{% extends 'base.html' %}

{% block page %}'gallery'{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/style/gallery.css">
<link rel="stylesheet" href="../static/style/generalStyle.css">
{% endblock %}

{% block content %}
<div class="wrapper">
    <img class="header-img" src="{{ page.hero.url }}" alt="{{ page.hero_alt }}" style="object-position-x: {{ page.hori_position }}; object-position-y: {{ page.vert_position }};">
    <div class="title  page-title">
        <div class="vertical_line"></div>
        <h2>{{ page.title }}</h2>
        <div class="vertical_line"></div>
    </div>
    <div class="page">
        <div class="section">
            <div class="all-gallery-images">
                {% for img in images %}
                <div class="img-containter">
                    <img src="{{ img.img.url }}" alt="{{ img.img_alt }}" onclick="openImg('{{ img.img.url }}')">
                    {% if img.subtitle %}
                    <div class="img-subtitle">{{ img.subtitle }}</div>
                    {% endif %}
                </div>    
                {% endfor %}
            </div>
        </div>
    </div> 
</div>
<div id="image-container" class="image-container d-none">
    <img onclick="closeImg()" class="close-cross" src="../../media/public/closeCross.svg" alt="close Cross">
    <img id="detail-image" class="img-detail-view" src = "">
</div>
{% endblock %}